version: '3'
services:
  nuxt:
    image: node:latest
    working_dir: "/app"
    environment:
      - HOST=0.0.0.0
    ports:
      - "5000:3000"
    volumes:
      - ../app:/app
    command:
      bash -c "npm install && npm run dev"
#     networks:
#       - front


# networks:
#   front:
#     driver: bridge