// color
$first-color: #008AC6;
$second-color: #727171;
$third-color:#231916;
$forth-color: #1D2D6A;
$fifth-color: #EA5515;
$sisth-color: #D6D7D7;
$seventh-color: #595857;
$eighth-color: #F3F3F3;
$ninth-color: #144190;
$tenth-color: #C30F23;
$eleventh-color: #E83929;


// breakpoint 
// https://www.npmjs.com/package/breakpoint-sass
$xl: 1601px;
$lg: 1441px;
$md: 1000px;
$sm: 769px;
$xs: 481px;